* {
    box-sizing: border-box;
}

.app-container, .index-container {
    height: 100%;
}

header {
    background: #444444;
    color: #fff;
    padding: 10px 15px;
    position: absolute;
    width: 100%;
    height: 50px;
}

.content {
    height: 100%;
    padding-top: 50px;
}

.category-content {
    float: left;
    height: 100%;
    position: relative;
    background: #fff;
    width: 200px;
    border: 1px solid #ddd;
    border-right: 0;
}

.category-content, .note-content {
    transition: all .5s;
}

.category-content .category-list, .note-content .note-list {
    height: 100%;
    padding-bottom: 44px;
    overflow-y: auto;
    overflow-x: auto;
}

.category-content .category-list {
}

.category-content .category-item {
    display: block;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding: 10px 0 10px 10px;
    text-align: left;
}

.category-content .category-item:hover .icon-close, .tag:hover .icon-close {
    display: block;
}

.note-content {
    float: left;
    width: 300px;
    position: relative;
    background: #fff;
    height: 100%;
    border: 1px solid #ddd;
}

.note-content .note-list {
}

.note-content .note-item {
    display: block;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding: 15px 0px 15px 10px;
    text-align: left;
}

.note-content .note-item:hover .icon-close {
    display: block;
}

.note-content .note-item:hover, .active, .category-content .category-item:hover {
    background: #eee;
}

.plus {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #504e4e;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    background: #fff;
}

.detail {
    padding-left: 500px;
    height: 100%;
    background: #ffffff;
    width: 100%;
    border: 1px solid #eee;
    transition: all .5s;
}

.detail .detail-box {
    position: relative;
    height: 100%;
}

.detail .post-title {
    height: 50px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    position: absolute;
    width: 100%;
    top: 0;
    font-size: 14px;
    z-index: 10;
}

.detail .post-date {
    padding: 15px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    position: absolute;
    height: 50px;
    width: 100%;
    top: 50px;
    color: #999;
    font-size: 12px;
    z-index: 10;
}

.detail .post-create {
}

.detail .post-update {
}

.detail .post-tag {
    padding: 15px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    position: absolute;
    height: 50px;
    width: 100%;
    top: 100px;
    color: #999;
    font-size: 12px;
    z-index: 10;
}

.detail .tag {
    background: #6F97F3;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
}

.detail .tag .icon-close {
    position: absolute;
    right: -17px;
    top: -1px;
}

.detail .post-content {
    padding: 15px;
    resize: none;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    padding-top: 165px;
    position: absolute;
    z-index: 1;
    background: #fff;
    left: 0;
}

.note-menu-move {
    transform: translateX(-500px);
    position: absolute;
}

.category-menu-move {
    transform: translateX(-200px);
    position: absolute;
}

.editor-move {
    padding-left: 0;
}

.pull-right {
    float: right;
}

.btn {
    padding: 10px;
    background: #9c9c9c;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    color: #fff;
}

.btn-primary {
    background: #2a9292;
    color: #fff;
    border: #2a9292;
}

button[disabled], html input[disabled] {
    opacity: 0.5;
}

.btn-edit {
    position: absolute;
    right: 15px;
    top: 6px;
    z-index: 10;
}

.icon-close {
    padding: 4px 18px;
    display: none;
}

/*modal css*/
.modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.32);
    width: 100%;
    height: 100%;
    transform: scale(100%);
    z-index: 999;
}

.modal {
    background: #fff;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #8a8989;
}

.modal .modal-body {
}

.modal .modal-header {
    margin-bottom: 15px;
}

.modal .modal-footer {
    text-align: center;
    padding: 30px 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* webkit solution*/
input ::-webkit-input-placeholder {
    text-align: left;
    color: #333;
}

/* mozilla solution*/
input:-moz-placeholder {
    text-align: left;
    color: #333;
}